<div class="container">
<div class="form-group mt-2">
  <div class="form-group form-inline">
      Búsqueda de cuenta: <input class="form-control ml-2 mr-2" type="text" [(ngModel)]="filterAccount" name="filterAccount"/>
      <button class="btn btn-rounded btn-success" type="button" [routerLink] = "['/accounts/add']">Crear Cuenta</button>
  </div>
</div>
<table class="table table-striped" >
  <thead>
  <tr>
    <th scope="col">Account Name</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accounts | filter:filterAccount">
    <td>{{account.accountName}}</td>
    <td>
      <a [routerLink]="['/accounts/add', account.id]" class="btn"><fa-icon [icon]="faEdit"></fa-icon></a>
      <a (click)='delete(account)' class="btn"><fa-icon [icon]="faTrash"></fa-icon></a>
    </td>
  </tr>
  </tbody>
  <div *ngIf="accounts?.length == 0" class="spinner-border m-5" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</table>
</div>

