<div class="container">
    <div class="row">
        <div class="alert alert-primary mt-3 col-sm" role="alert">
            Bienvenido a la sección de gestión de stock, desde aquí puedes gestionar todo el stock de tus almacenes. 
        </div>
    </div>
    <div class="row">
        <h2>Panel de control: </h2>
        <div class="col-sm">
            <button [routerLink]="['/modal']" type="button" class="btn btn-primary btn-lg btn-block">Añadir producto nuevo a almacén</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary btn-lg btn-block">Reponer Productos</button>
        </div>
    </div>
    


</div>
