<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form novalidate #f="ngForm">
                <div class="form-group">
                    <h2>Recuperar contraseña:</h2>
                    <label for="userEmail">Introduce tu email de usuario para recibir tu nueva contraseña</label>
                    <input type="email" class="form-control" required minlength="5" id="userEmail" name="userEmail"
                    [(ngModel)]="userEmail">

                </div>
                <button class="btn btn-success btn-block" [disabled]="!f.valid" (click)='restorePassword()'>
                    <fa-icon [icon]="faKey" class="mr-1"></fa-icon>Enviar</button>
            </form>
        </div>
    </div>
</div>
