<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-scale" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="container">      
    <div *ngIf="users?.length == 0" class="alert alert-info mt-2">No hay usuarios</div>
    <div class="form-group mt-2">
      <div class="form-group form-inline">
          Búsqueda: <input class="form-control ml-2 mr-2" type="text" [(ngModel)]="filterUser" name="filterUser"/>
          <div *ngIf="isAdmin()">
            Cuenta: <select class="form-control ml-2" id="accountName" [(ngModel)]="filterAccount" name="filterAccount">
              <option [ngValue]=""></option>
              <option [value]="account.accountName" *ngFor="let account of accounts">{{account.accountName}}</option>
            </select>
            <button class="btn btn-rounded btn-success ml-2" type="button" [routerLink] = "['/users/add']">Crear Usuario</button>
          </div>
          <div *ngIf="!isAdmin()">
            <button class="btn btn-rounded btn-success ml-2" type="button" [routerLink] = "['/users/add/', myAccountId]">Crear Usuario</button>
          </div>

          
      </div>
      
    </div>
    <table class="table table-striped" >
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Cuenta</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i = index ; let user of users | user:filterUser | user:filterAccount" >
        <td >{{i+1}}</td>
        <td >{{user.name}}</td>
        <td >{{user.userName}}</td>
        <td >{{user.email}}</td>
        <td >{{user.account.accountName}}</td>
        
        <td >
          <a [routerLink]="['/users/add', user.id]" class="btn"><fa-icon [icon]="faEdit"></fa-icon></a>
          <a (click)='delete(user)' class="btn"><fa-icon [icon]="faTrash"></fa-icon></a>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
