<div *ngIf="isLogged()">
  <nav class="navbar navbar-light bg-light">
    <div class="dropdown">
      <button class="btn btn-black dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <fa-icon [icon]="faUser" class="mr-1"></fa-icon>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngIf="!isLogged()">
          <a class="dropdown-item" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLogged()">
          <a class="dropdown-item" (click)="onLogOut()">Logout<fa-icon [icon]="faDoorOpen" class="ml-1"></fa-icon></a>
        </li>
        <li>
          <a class="dropdown-item" [routerLink]="['/updatePassword']">Contraseña<fa-icon [icon]="faKey" class="ml-1">
            </fa-icon></a>
        </li>
      </ul>
    </div>
  </nav>
</div>