<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form novalidate #f="ngForm">
                <div class="form-group">
                    <h2>Actualizar contraseña:</h2>
                    <label for="newPassword">Nueva Contraseña *</label>
                    <input type="password" class="form-control" required minlength="5" id="newPassword" name="newPassword"
                    [(ngModel)]="newPassword">

                    <label for="repeatPassword">Repita contraseña *</label>
                    <input type="password" class="form-control" required minlength="5" id="repeatPassword" name="repeatPassword"
                    [(ngModel)]="repeatPassword">

                </div>
                <button class="btn btn-success btn-block" [disabled]="!f.valid" (click)='updatePassword()'>
                    <fa-icon [icon]="faEdit" class="mr-1"></fa-icon>Actualizar</button>

            </form>
        </div>
    </div>
</div>