<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre de cuenta *</label>
                    <input type="text" class="form-control" id="accountName" name="accountName"
                    [(ngModel)]="account.accountName" required minlength="5">
                </div>
                <button class="btn btn-success btn-block" [disabled]="!f.valid" (click)='create()' *ngIf="!account.id; else elseBlock">
                    <fa-icon [icon]="faPlusSquare" class="mr-1"></fa-icon>Crear</button>
                <ng-template #elseBlock>
                    <div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-danger btn-block" [routerLink] = "['/accounts']"><fa-icon [icon]="faArrowLeft" class="mr-1"></fa-icon>Cancelar</button>
                            </div>
                            <div class="col">
                                
                            <button class="btn btn-success btn-block" [disabled]="!f.valid" (click)='update()'><fa-icon [icon]="faEdit"></fa-icon> Actualizar</button>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </form>
        </div>
    </div>
</div>
